@use "sass:list";
@use "sass:math";

$font-size-base: 1rem;
$font-size-xs: $font-size-base * 0.75;
$font-size-sm: $font-size-base * 0.875;
$font-size-default: $font-size-base * 1;
$font-size-md: $font-size-base * 1.25;
$font-size-lg: $font-size-base * 1.5;
$font-size-xl-1: $font-size-base * 1.75;
$font-size-xl-2: $font-size-base * 2;
$font-size-xl-3: $font-size-base * 2.25;
$font-size-xl-4: $font-size-base * 3;
$font-size-xl-5: $font-size-base * 3.75;
$font-size-xl-6: $font-size-base * 4.5;
$font-size-xl-7: $font-size-base * 6;
$font-size-xl-8: $font-size-base * 7.5;

$font-size-values: (
  "xs": $font-size-xs,
  "sm": $font-size-sm,
  "default": $font-size-default,
  "md": $font-size-md,
  "lg": $font-size-lg,
  "xl-1": $font-size-xl-1,
  "xl-2": $font-size-xl-2,
  "xl-3": $font-size-xl-3,
  "xl-4": $font-size-xl-4,
  "xl-5": $font-size-xl-5,
  "xl-6": $font-size-xl-6,
  "xl-7": $font-size-xl-7,
  "xl-8": $font-size-xl-8,
);

$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;

$font-weight-values: (
  "100": $font-weight-100,
  "200": $font-weight-200,
  "300": $font-weight-300,
  "400": $font-weight-400,
  "500": $font-weight-500,
  "600": $font-weight-600,
  "700": $font-weight-700,
  "800": $font-weight-800,
  "900": $font-weight-900,
);

$line-height-base: 1;
$line-height-default: $line-height-base * 1;
$line-height-sm: $line-height-base * 1.2;
$line-height-md: $line-height-base * 1.4;
$line-height-lg: $line-height-base * 1.6;

$line-height-values: (
  "default": $line-height-default,
  "sm": $line-height-sm,
  "md": $line-height-md,
  "lg": $line-height-lg,
);

$letter-spacing-base: 1rem;
$letter-spacing-default: $letter-spacing-base * 0;
$letter-spacing-sm: $letter-spacing-base * 0.125;
$letter-spacing-md: $letter-spacing-base * 0.25;
$letter-spacing-lg: $letter-spacing-base * 0.5;

$letter-spacing-values: (
  "sm": $letter-spacing-sm,
  "md": $letter-spacing-md,
  "lg": $letter-spacing-lg,
);

$text-transform-utilities: (
  "lowercase": lowercase,
  "uppercase": uppercase,
  "capitalize": capitalize,
);

$text-decoration-utilities: (
  "none": none,
  "underline": underline,
  "line-through": line-through,
);

$text-align-utilities: (
  "left": left,
  "center": center,
  "right": right,
);

$display-font-sizes: (
  "1": (
    default: $font-size-xl-7,
    screen-xl-1: $font-size-xl-6,
    screen-lg: $font-size-xl-5,
  ),
  "2": (
    default: $font-size-xl-6,
    screen-xl-1: $font-size-xl-5,
    screen-lg: $font-size-xl-4,
  ),
  "3": (
    default: $font-size-xl-5,
    screen-xl-1: $font-size-xl-4,
    screen-lg: $font-size-xl-3,
  ),
  "4": (
    default: $font-size-xl-4,
    screen-xl-1: $font-size-xl-3,
    screen-lg: $font-size-xl-2,
  ),
  "5": (
    default: $font-size-xl-3,
    screen-xl-1: $font-size-xl-2,
    screen-lg: $font-size-xl-1,
  ),
  "6": (
    default: $font-size-xl-2,
    screen-xl-1: $font-size-xl-1,
    screen-lg: $font-size-lg,
  ),
);

$paragraph-font-sizes: (
  default: (
    default: $font-size-md,
    screen-xl-1: $font-size-default,
  ),
  large: (
    default: $font-size-lg,
    screen-xl-1: $font-size-md,
  ),
);

$overline-font-sizes: (
  default: (
    default: $font-size-md,
    letter-spacing: normal,
    text-transform: none,
    screen-lg: $font-size-default,
  ),
  uppercase: (
    default: $font-size-default,
    letter-spacing: $letter-spacing-md,
    text-transform: uppercase,
    screen-lg: $font-size-default,
  ),
);

$layout-row-columns: 6;
$layout-columns: 12;

$xs-media: 0rem;
$sm-media: 36rem;
$md-media: 48rem;
$lg-media: 62rem;
$xl-1-media: 75rem;
$xl-2-media: 87.5rem;

$layout-media-values: (
  xs: $xs-media,
  sm: $sm-media,
  md: $md-media,
  lg: $lg-media,
  xl-1: $xl-1-media,
  xl-2: $xl-2-media,
);

$container-width-values: (
  sm: $sm-media - 2.25rem,
  md: $md-media - 3rem,
  lg: $lg-media - 2rem,
  xl-1: $xl-1-media - 3.75rem,
  xl-2: $xl-2-media - 5rem,
);

$aspect-ratio-square: list.slash(1, 1);
$aspect-ratio-landscape: list.slash(3, 2);
$aspect-ratio-portrait: list.slash(3, 4);
$aspect-ratio-wide-screen: list.slash(2, 1);

$aspect-ratio-values: (
  "square": $aspect-ratio-square,
  "landscape": $aspect-ratio-landscape,
  "portrait": $aspect-ratio-portrait,
  "wide-screen": $aspect-ratio-wide-screen,
);

$space-base: 1rem;
$percentage-ratio-base: 1%;
$screen-width-ratio-base: 1vw;
$screen-height-ratio-base: 1vh;
$ratio-values: (
  "1-5": 20,
  "2-5": 40,
  "3-5": 60,
  "4-5": 80,
  "1-4": 25,
  "3-4": 75,
  "1-2": 50,
  "1-1": 100,
);

$space-values: ();
@for $value from 0 through 45 {
  $current-map: (#{$value}: ($value * 0.25) * $space-base);
  $space-values: map-merge($space-values, $current-map);
}

$percentage-ratio-values: ();
$screen-width-ratio-values: ();
$screen-height-ratio-values: ();
$ratio-properties: (
  "percentage": (
    values: $percentage-ratio-values,
    base: $percentage-ratio-base,
  ),
  "screen-width": (
    values: $screen-width-ratio-values,
    base: $screen-width-ratio-base,
  ),
  "screen-height": (
    values: $screen-height-ratio-values,
    base: $screen-height-ratio-base,
  ),
);

@each $property-key, $property-map in $ratio-properties {
  $property-values: map-get($property-map, "values");
  $property-base: map-get($property-map, "base");

  @each $key, $value in $ratio-values {
    $current-map: (#{$property-key}-#{$key}: $value * $property-base);
    $property-values: map-merge($current-map, $property-values);

    $final-map: (
      #{$property-key}:
        (
          values: $property-values,
          base: $property-base,
        )
    );

    $ratio-properties: map-merge($ratio-properties, $final-map);
  }

  @if ($property-key == "percentage") {
    $percentage-ratio-values: $property-values;
  } @else if ($property-key == "screen-width") {
    $screen-width-ratio-values: $property-values;
  } @else if ($property-key == "screen-height") {
    $screen-height-ratio-values: $property-values;
  }
}

$border-base: 1rem;
$border-0: $border-base * 0;
$border-1: $border-base * 0.0625;
$border-2: $border-base * 0.125;
$border-3: $border-base * 0.25;
$border-4: $border-base * 0.5;

$border-values: (
  "0": $border-0,
  "1": $border-1,
  "2": $border-2,
  "3": $border-3,
  "4": $border-4,
);

$border-radius-base: 1rem;
$border-radius-xm: $border-radius-base * 0.125;
$border-radius-sm: $border-radius-base * 0.25;
$border-radius-default: $border-radius-base * 0.5;
$border-radius-md: $border-radius-base * 1;
$border-radius-lg: $border-radius-base * 1.25;
$border-radius-xl-1: $border-radius-base * 1.5;
$border-radius-xl-2: $border-radius-base * 2.5;
$border-radius-1-2: 50%;
$border-radius-1-1: 100%;

$border-radius-values: (
  "xm": $border-radius-xm,
  "sm": $border-radius-sm,
  "default": $border-radius-default,
  "md": $border-radius-md,
  "lg": $border-radius-lg,
  "xl-1": $border-radius-xl-1,
  "xl-2": $border-radius-xl-2,
  "1-2": $border-radius-1-2,
  "1-1": $border-radius-1-1,
);

$box-shadow-xm: 0 0.125rem 0.125rem 0 rgba(20, 20, 20, 0.05);
$box-shadow-sm: 0 0.25rem 0.25rem 0 rgba(20, 20, 20, 0.05);
$box-shadow-default: 0 0.5rem 0.5rem 0 rgba(20, 20, 20, 0.05);
$box-shadow-md: 0 1.25rem 1.25rem 0 rgba(20, 20, 20, 0.05);
$box-shadow-lg: 0 1.5rem 2.5rem 0 rgba(20, 20, 20, 0.05);
$box-shadow-xl: 0 2.5rem 5rem 0 rgba(20, 20, 20, 0.05);

$box-shadow-values: (
  "xm": $box-shadow-xm,
  "sm": $box-shadow-sm,
  "default": $box-shadow-default,
  "md": $box-shadow-md,
  "lg": $box-shadow-lg,
  "xl": $box-shadow-xl,
);

$transition-ease-slow: all 0.8s ease;
$transition-ease: all 0.4s ease;
$transition-ease-fast: all 0.2s ease;
$transition-ease-in-slow: all 0.8s ease-in;
$transition-ease-in: all 0.4s ease-in;
$transition-ease-in-fast: all 0.2s ease-in;
$transition-ease-out-slow: all 0.8s ease-out;
$transition-ease-out: all 0.4s ease-out;
$transition-ease-out-fast: all 0.2s ease-out;
$transition-ease-in-out-slow: all 0.8s ease-in-out;
$transition-ease-in-out: all 0.4s ease-in-out;
$transition-ease-in-out-fast: all 0.2s ease-in-out;

$transition-values: (
  "ease-slow": $transition-ease-slow,
  "ease": $transition-ease,
  "ease-fast": $transition-ease-fast,
  "ease-in-slow": $transition-ease-in-slow,
  "ease-in": $transition-ease-in,
  "ease-in-fast": $transition-ease-in-fast,
  "ease-out-slow": $transition-ease-out-slow,
  "ease-out": $transition-ease-out,
  "ease-out-fast": $transition-ease-out-fast,
  "ease-in-out-slow": $transition-ease-in-out-slow,
  "ease-in-out": $transition-ease-in-out,
  "ease-in-out-fast": $transition-ease-in-out-fast,
);

$layer-base: 1;
$layer-1: $layer-base * 1;
$layer-2: $layer-base * 2;
$layer-3: $layer-base * 3;
$layer-4: $layer-base * 4;
$layer-5: $layer-base * 5;
$layer-6: $layer-base * 6;
$layer-7: $layer-base * 7;
$layer-8: $layer-base * 8;
$layer-9: $layer-base * 9;

$layer-values: (
  "1": $layer-1,
  "2": $layer-2,
  "3": $layer-3,
  "4": $layer-4,
  "5": $layer-5,
  "6": $layer-6,
  "7": $layer-7,
  "8": $layer-8,
  "9": $layer-9,
);

$color-red-50: #ffebee;
$color-red-100: #ffcdd2;
$color-red-200: #ef9a9a;
$color-red-300: #e57373;
$color-red-400: #ef5350;
$color-red-500: #f44336;
$color-red-600: #e53935;
$color-red-700: #d32f2f;
$color-red-800: #c62828;
$color-red-900: #b71c1c;

$color-red-values: (
  "50": $color-red-50,
  "100": $color-red-100,
  "200": $color-red-200,
  "300": $color-red-300,
  "400": $color-red-400,
  "500": $color-red-500,
  "600": $color-red-600,
  "700": $color-red-700,
  "800": $color-red-800,
);

$color-pink-50: #fce4ec;
$color-pink-100: #f8bbd0;
$color-pink-200: #f48fb1;
$color-pink-300: #f06292;
$color-pink-400: #ec407a;
$color-pink-500: #e91e63;
$color-pink-600: #d81b60;
$color-pink-700: #c2185b;
$color-pink-800: #ad1457;
$color-pink-900: #880e4f;

$color-pink-values: (
  "50": $color-pink-50,
  "100": $color-pink-100,
  "200": $color-pink-200,
  "300": $color-pink-300,
  "400": $color-pink-400,
  "500": $color-pink-500,
  "600": $color-pink-600,
  "700": $color-pink-700,
  "800": $color-pink-800,
);

$color-purple-50: #f3e5f5;
$color-purple-100: #e1bee7;
$color-purple-200: #ce93d8;
$color-purple-300: #ba68c8;
$color-purple-400: #ab47bc;
$color-purple-500: #9c27b0;
$color-purple-600: #8e24aa;
$color-purple-700: #7b1fa2;
$color-purple-800: #6a1b9a;
$color-purple-900: #4a148c;

$color-purple-values: (
  "50": $color-purple-50,
  "100": $color-purple-100,
  "200": $color-purple-200,
  "300": $color-purple-300,
  "400": $color-purple-400,
  "500": $color-purple-500,
  "600": $color-purple-600,
  "700": $color-purple-700,
  "800": $color-purple-800,
);

$color-deep-purple-50: #ede7f6;
$color-deep-purple-100: #d1c4e9;
$color-deep-purple-200: #b39ddb;
$color-deep-purple-300: #9575cd;
$color-deep-purple-400: #7e57c2;
$color-deep-purple-500: #673ab7;
$color-deep-purple-600: #5e35b1;
$color-deep-purple-700: #512da8;
$color-deep-purple-800: #4527a0;
$color-deep-purple-900: #311b92;

$color-deep-purple-values: (
  "50": $color-deep-purple-50,
  "100": $color-deep-purple-100,
  "200": $color-deep-purple-200,
  "300": $color-deep-purple-300,
  "400": $color-deep-purple-400,
  "500": $color-deep-purple-500,
  "600": $color-deep-purple-600,
  "700": $color-deep-purple-700,
  "800": $color-deep-purple-800,
);

$color-indigo-50: #e8eaf6;
$color-indigo-100: #c5cae9;
$color-indigo-200: #9fa8da;
$color-indigo-300: #7986cb;
$color-indigo-400: #5c6bc0;
$color-indigo-500: #3f51b5;
$color-indigo-600: #3949ab;
$color-indigo-700: #303f9f;
$color-indigo-800: #283593;
$color-indigo-900: #1a237e;

$color-indigo-values: (
  "50": $color-indigo-50,
  "100": $color-indigo-100,
  "200": $color-indigo-200,
  "300": $color-indigo-300,
  "400": $color-indigo-400,
  "500": $color-indigo-500,
  "600": $color-indigo-600,
  "700": $color-indigo-700,
  "800": $color-indigo-800,
);

$color-blue-50: #e3f2fd;
$color-blue-100: #bbdefb;
$color-blue-200: #90caf9;
$color-blue-300: #64b5f6;
$color-blue-400: #42a5f5;
$color-blue-500: #2196f3;
$color-blue-600: #1e88e5;
$color-blue-700: #1976d2;
$color-blue-800: #1565c0;
$color-blue-900: #0d47a1;

$color-blue-values: (
  "50": $color-blue-50,
  "100": $color-blue-100,
  "200": $color-blue-200,
  "300": $color-blue-300,
  "400": $color-blue-400,
  "500": $color-blue-500,
  "600": $color-blue-600,
  "700": $color-blue-700,
  "800": $color-blue-800,
);

$color-light-blue-50: #e1f5fe;
$color-light-blue-100: #b3e5fc;
$color-light-blue-200: #81d4fa;
$color-light-blue-300: #4fc3f7;
$color-light-blue-400: #29b6f6;
$color-light-blue-500: #03a9f4;
$color-light-blue-600: #039be5;
$color-light-blue-700: #0288d1;
$color-light-blue-800: #0277bd;
$color-light-blue-900: #01579b;

$color-light-blue-values: (
  "50": $color-light-blue-50,
  "100": $color-light-blue-100,
  "200": $color-light-blue-200,
  "300": $color-light-blue-300,
  "400": $color-light-blue-400,
  "500": $color-light-blue-500,
  "600": $color-light-blue-600,
  "700": $color-light-blue-700,
  "800": $color-light-blue-800,
);

$color-cyan-50: #e0f7fa;
$color-cyan-100: #b2ebf2;
$color-cyan-200: #80deea;
$color-cyan-300: #4dd0e1;
$color-cyan-400: #26c6da;
$color-cyan-500: #00bcd4;
$color-cyan-600: #00acc1;
$color-cyan-700: #0097a7;
$color-cyan-800: #00838f;
$color-cyan-900: #006064;

$color-cyan-values: (
  "50": $color-cyan-50,
  "100": $color-cyan-100,
  "200": $color-cyan-200,
  "300": $color-cyan-300,
  "400": $color-cyan-400,
  "500": $color-cyan-500,
  "600": $color-cyan-600,
  "700": $color-cyan-700,
  "800": $color-cyan-800,
);

$color-teal-50: #e0f2f1;
$color-teal-100: #b2dfdb;
$color-teal-200: #80cbc4;
$color-teal-300: #4db6ac;
$color-teal-400: #26a69a;
$color-teal-500: #009688;
$color-teal-600: #00897b;
$color-teal-700: #00796b;
$color-teal-800: #00695c;
$color-teal-900: #004d40;

$color-teal-values: (
  "50": $color-teal-50,
  "100": $color-teal-100,
  "200": $color-teal-200,
  "300": $color-teal-300,
  "400": $color-teal-400,
  "500": $color-teal-500,
  "600": $color-teal-600,
  "700": $color-teal-700,
  "800": $color-teal-800,
);
